
{% htmlcompress %}
<!doctype html>
<html lang="{{ config('app.locale') }}">
	<head>
		
	</head>
	<body class="" style="">
The parent Layout<br>
            {# Content #}
            {% block content %}{% endblock %}

	</body>
</html>
{% endhtmlcompress %}